@(urlForm: Form[controllers.UrlForm], output: Option[Set[(String, Option[String])]] = None)

@import helper.{form, inputText}

@main("Broken links finder") {
	
<div class="container">
	@form(action = routes.Application.submit()) {
		<div class="form-group box">
			@inputText(field = urlForm("url"), '_label -> "Enter URL:", 'class -> "form-control", '_help -> "")
		</div>
		<div class="checkbox">
    		<label><input type="checkbox" name="checkbox">Show details</label>
  		</div>
	}
	@if(output.isDefined) {
		@results(output.get)
	}
</div>
	
}